<h1><%= current_user.name %>のタスク一覧</h1>

<div class="main-tasks-index">
  <div class="container">
    <% @tasks.each do |task| %>
      <div class="tasks-index-item">
        <%= task.detail %>
      </div>
    <% end %>
  </div>
</div>